.Userprofile {
    margin-bottom: 2em;

    .formContainer{
        border-radius: 1em;
        padding: 1em;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .showButtonContainer{
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }

    .updateForm {
        margin-bottom: 1em;
        label{
            color: rgb(38, 60, 228);
        }
        .updateButton {
            display: flex;
            justify-content: center;
        }
    }
}

@media (min-width: 600px) {
    .Userprofile{
        .formContainer{
            display: flex;
            justify-content: center;
        }
        .updateForm{
            width: 60%;
        }
    }
  }
