.Userprofile {
    margin-bottom: 2em;
    .showButtonContainer{
        display: flex;
        justify-content: center;
    }

    .updateForm {
        margin-bottom: 1em;
        .updateButton {
            display: flex;
            justify-content: center;
        }
    }
}
